@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
}

h1 {
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

section[data-id="template"] {
  display: none;
}

img {
  display: block;
  max-width: 100%;
}