body {
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
}

/* header nav */
header {
  height: 80px;
  background-color: lightblue;
  border: none;
  border-radius: 2px;
  margin-bottom: 40px;
}

header > * {
  display: inline-block;
}

header h1 {
  float: left;
  margin: 26px 40px;
}

header select {
  float: right;
  margin: 31px 40px;
}

main {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

/* Flex */
section{
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
  /* margin-right: 10px; */
}
img{
  max-height: 120px ;
  max-width: 120px;
}

section h2 {
  font-family: 'Roboto', sans-serif;
  color: #777;
}

section p {
  font-family: 'Roboto', sans-serif;
}

/* footer */
footer {
  clear: both;
  height: 40px;
  background-color: lightgrey;
  border: none;
  border-radius: 2px;
  margin-top: 40px;
  padding: 12px 0px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}